.paramsContainer {
  :global {
    .ant-collapse-header {
      padding-left: 52px !important;
    }

    .anticon-right {
      left: 32px !important;
    }

    .ant-collapse-content-box {
      padding: 0px 30px 16px 30px !important;
    }
  }
}

.title {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 10px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
}

.title:last-child {
  margin-top: 10px;
}

.content {
  padding: 0px 10px;
}
