/* ----------------nav */
.newtec-nav{
	margin-left:15px;
}
.newtec-nav.nav1{
	font-size:18px;
	font-weight:700;
}
.newtec-nav.nav2{
	font-size:17px;
	font-weight:500;
}
.newtec-nav.nav3{
	font-size:14px;
	font-weight:400;
}
.newtec-nav .nav-title{
	cursor:pointer;
	display:inline-block;
	height:30px;
	line-height:30px;
	padding:0 15px;
}
.newtec-nav .nav-min{
	pointer-events: none;display:inline-block;
}
/* newtec-menu */
.newtec-newMenu{
	width:150px;
	height:881px;
}
.menuul{
	list-style: none;
	padding:0;
	margin:2px 0 0 0;
	background: #4a80fc;
	/* border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px; */
	width:130px;
	height:100%;
}
.menuul li{
	height:auto;
	display:block;
	text-align: center;
}
.menuul .header{
	position:relative;
}
.menuul .header.active span{
	color:black;
}
.menuul .header {
	display: block;
 	text-decoration: none;
 	padding: 10px 0px;
 	color: #777;
 	position: relative;
}
.menuul .header img{
 	margin: 0 auto;
}
.menuul .header .bigname{
	display:block;
	font-size:13px;
	color:white;
}
.menuul .has-rows .bigname{
	display: block;
	font-size: 13px;
/* 	margin-top: -3px; */
}
.menuul .header img, .menuul .header .bigname{
    position: relative;transition: all 300ms linear;-o-transition: all 300ms linear;-ms-transition: all 300ms linear;-moz-transition: all 300ms linear;-webkit-transition: all 300ms linear;
}
.menuul .header:hover  img{
    opacity: 1;-webkit-animation: moveFromTop 300ms ease-in-out;-moz-animation: moveFromTop 300ms ease-in-out;-ms-animation: moveFromTop 300ms ease-in-out;-o-animation: moveFromTop 300ms ease-in-out;animation: moveFromTop 300ms ease-in-out;
}
.menuul .header:hover .bigname{
    opacity: 1;-webkit-animation: moveFromLeft 300ms ease-in-out;-moz-animation: moveFromLeft 300ms ease-in-out;-ms-animation: moveFromLeft 300ms ease-in-out;-o-animation: moveFromLeft 300ms ease-in-out;animation: moveFromLeft 300ms ease-in-out;
}
.menuul .header:hover img, .menuul .header:hover span{
	color:black;
}
.menuul .header.active{
	position: relative;
 	color: black;
 	background:white;
 	border:0;
 	box-shadow: 0 0 5px #DDD;
 	-moz-box-shadow: 0 0 5px #DDD;
 	-webkit-box-shadow: 0 0 5px #DDD;
}
@-webkit-keyframes moveFromTop {
    from {opacity: 0;-webkit-transform: translateY(200%);-moz-transform: translateY(200%);-ms-transform: translateY(200%);-o-transform: translateY(200%);transform: translateY(200%);}
    to {opacity: 1;-webkit-transform: translateY(0%);-moz-transform: translateY(0%);-ms-transform: translateY(0%);-o-transform: translateY(0%);transform: translateY(0%);}
}
@-webkit-keyframes moveFromLeft {
    from {opacity: 0;-webkit-transform: translateX(200%);-moz-transform: translateX(200%);-ms-transform: translateX(200%);-o-transform: translateX(200%);transform: translateX(200%);}
    to {opacity: 1;-webkit-transform: translateX(0%);-moz-transform: translateX(0%);-ms-transform: translateX(0%);-o-transform: translateX(0%);transform: translateX(0%);}
}
.menuul .header>ul{
	position:absolute;
	height:auto;
	width:200px;
	padding:0;
	margin:0;
	background: #fff;
	opacity:0;
	visibility:hidden;
	transition:all 300ms linear;-o-transition: all 300ms linear;-ms-transition: all 300ms linear;-moz-transition: all 300ms linear;-webkit-transition: all 300ms linear;
  	z-index:1000;
  	left:230px;
  	top:0px;
  	box-shadow:0px 0px 10px #e4e3e3;
}
.menuul li ul li ul{
	display:none;
}
.menuul .rows .bigname{
	display:block;
	font-size:13px;
	margin-top: -2px;
}
.menuul li:hover >ul{
	display:block;
	opacity:1;
	visibility: visible;
	left:202px;
}
.menuul li ul li:hover >ul{
	display:block;
}
.menuul .rows:hover img{
    opacity: 1;-webkit-animation: moveFromTop 300ms ease-in-out;-moz-animation: moveFromTop 300ms ease-in-out;-ms-animation: moveFromTop 300ms ease-in-out;-o-animation: moveFromTop 300ms ease-in-out;animation: moveFromTop 300ms ease-in-out;
}
.menuul .rows:hover span{
	color:#e67e22;
}
.menuul .has-rows:hover img{
    opacity: 1;-webkit-animation: moveFromTop 300ms ease-in-out;-moz-animation: moveFromTop 300ms ease-in-out;-ms-animation: moveFromTop 300ms ease-in-out;-o-animation: moveFromTop 300ms ease-in-out;animation: moveFromTop 300ms ease-in-out;
}
.menuul .has-rows:hover span{
	color:#e67e22;
}
.menuul .header .iconchoose{
	display:none;
}
.menuul .space{
	float:left;
	height:15px;
	width:20px;
	display: block;
}
@media only screen and (max-width:800px){
	
	.newtec-newMenu{
		width:80px;
	}
	.menuul{
		width:80px;
		
	}
	.menuul .header{
		position:relative;
		padding:15px 0px;
		height:65px;
	}
	.menuul .header .bigname{
		display:none;
	}
	.menuul .header img{
		width:35px;
		height:35px;
	}
	
}
.newtec-newMenu.min ul.menuul li{
	height: 60px;
}
.newtec-newMenu.min ul.menuul li .bigname{
	display: none;
}
.newtec-newMenu.min,
.newtec-newMenu.min ul{
	width:60px;
}